<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">
            <a href="{{ '/' | relative_url }}" class="nav-logo">
                🇵🇭 Philippine Government Icons
            </a>
        </div>
        
        <div class="nav-menu" id="nav-menu">
            <ul class="nav-list">
                {% for item in site.navigation %}
                <li class="nav-item">
                    <a href="{{ item.url | relative_url }}" class="nav-link">
                        {{ item.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="nav-toggle" id="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
